<div class="container-fluid">
    <div class="page-title">
      <div class="row">
        <div class="col-6">
          <h3>Project</h3>
        </div>
        <div class="col-6">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="'/dashboard/default'">
                <svg class="stroke-icon">
                  <use href="assets/svg/icon-sprite.svg#stroke-home"></use>
                </svg>
              </a>
            </li>
            <li class="breadcrumb-item">Project</li>
            <li class="breadcrumb-item active">Project List</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
<div class="container-fluid">
</div>
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <!-- Individual column searching (text inputs) Starts-->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">

          <!-- <h5>Project List</h5> -->
          <!-- <span>Search your product from here..</span> -->
          <div class="row">
            <form class="form-inline gap-2" id="form_filterproject" >
            <div class="col-3">
              <div class="">
                <label for="formFile" class="form-label">Filter by type</label>
                <select [(ngModel)]="filter.type" class="form-select" aria-label="Default select example" id="type_project" name="project">
                  <option value="" selected>Type</option>
                  <option *ngFor="let item of typeList" value="{{item.value}}" >
                    {{item.text}}
                    </option>
                </select>
              </div>
              
            </div>
            <div class="col-3">
              <div class="">
                <label for="formFile" class="form-label">Filter by status</label>
                <select [(ngModel)]="filter.status"  name="selectedStatus"  class="form-select" aria-label="Default select example">
                  <option value="" selected="selected">Status</option>
                  <option *ngFor="let item of statusList" value="{{item.value}}" >
                    {{item.text}}
                    </option>
                </select>
              </div>
            </div>
            <div class="col-2">
             <div style="margin-top: 15.5%;" class=" d-flex gap-2">
              <button (click)="applyFilter()" type="button"  class="btn btn-primary" >
                <i class="icon-search"></i>
              </button>
              <button (click)="unsetFilters()" type="button" class="btn btn-danger">
                <i class="icon-filter"></i>
              </button>
             </div>
            </div>
            <div class="col-4">
              
            </div>
          </form>
          </div>
        </div>
        <div class="card-body">
          
          <div class="product-list-custom custom-datatable">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <!-- <th scope="col">Image</th> -->
                    <th scope="col">Type</th>
                    <th scope="col">Nom</th>
                    <!-- <th scope="col">Description</th> -->
                    <th scope="col">Montant</th>
                    <th scope="col">Progression</th>
                    <!-- <th scope="col">Donors</th> -->
                    <th scope="col">Status</th>
                    <th scope="col">Date création</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of filterData" >
                    <!-- <td>
                      <img [src]="item.cover.url" class="me-2 rounded w-50 h-50" />
                    </td> -->
                    <td>{{ item.type | titlecase}}</td>
                    <td>{{ item.name | titlecase}}</td>
                    <!-- <td>{{ item.description | titlecase }}</td> -->
                    <td>{{ item.amount | number: '1.0-0' }} FCFA</td>
                    <td >
                        <div class="progress mt-1">
                          <div class="progress-bar bg-primary" [ngStyle]="{'width.%': item.pourcentage}"  role="progressbar"   aria-valuenow="{{item.pourcentage}}" aria-valuemin="0" aria-valuemax="100">
                          </div>
                        </div>
                    </td>
                    <td>
                        <span *ngIf="item.status == 'PENDING'" class="badge badge-primary">
                            En attente
                        </span>
                        <span *ngIf="item.status == 'VALID'" class="badge badge-success">
                          Validé
                        </span>
                        <span *ngIf="item.status == 'INVALID'" class="badge badge-danger">
                          Annulé
                        </span>
                    </td>
                    <td>
                      {{ item.date | date :'mediumDate'}}

                    </td>
                   
                    <td>
                      
                        <div class="action gap-2">
                            <li *ngIf="item.status == 'PENDING'"   class="validate text-success " title="VALIDER">
                              <a type="button" (click)="confirmerStatusChangeValidate(item.id , 'VALID')"><i class="icon-check"></i></a>
                            </li>
                            <li *ngIf="item.status == 'INVALID'"   class="validate text-success " title="VALIDER">
                              <a type="button" (click)="confirmerStatusChangeValidate(item.id , 'VALID')"><i class="icon-check"></i></a>
                            </li>
                            <li *ngIf="item.status == 'VALID'"  class="anuler text-danger" title="ANNULER">
                              <a type="button" (click)="confirmerStatusChange(item.id , 'INVALID')">
                                <i class="icon-close"></i>
                              </a>
                            </li>
                            <li class="delete" title="DELETE">
                              <a type="button" (click)="confirmerSuppression(item._id)"><i class="icon-trash"></i></a>
                            </li>
                            <li class="details" title="VIEW COVER">
                              <a *ngIf="!item.cover" href="#" target="_blank"> <i class="icon-eye"></i></a>
                              <a *ngIf="item.cover" href="{{item.cover.url}}" target="_blank"> <i class="icon-eye"></i></a>
                              </li>
              
                           
                          </div>
                    </td>
                  </tr>
                
              
                </tbody>
              </table>
            </div>
          </div>
          <!-- <div class="row mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm pagination-primary float-end">
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
                </ul>
              </nav>
          </div> -->
        </div>
      </div>
    </div>
    <!-- Individual column searching (text inputs) Ends-->
  </div>
</div>
<!-- Container-fluid Ends-->
